body {
    font-family: sans-serif;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

.deals {
  &__header {
    background-color: #f44336;
    color: #fff;
    padding: 30px 40px;
  }
  &__title {
    text-align: center;
  }
  &__adding {
    display: flex;
    align-items: flex-end;
  }
  &__input {
    margin: 0;
    border: none;
    width: 75%;
    padding: 9px;
  }
  &__item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
    &:hover {
      background-color: #ddd;
    }
    &.checked {
      background-color: #888;
      color: #fff;
      text-decoration: line-through;
      &::before {
        content: "";
        height: 15px;
        width: 7px;
        position: absolute;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        
      }
    }

  }
}

.adding {
  &__button {
    padding: 10px;
    width: 25%;
    background-color: #d9d9d9;
    color: #555;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #bbb;
    }
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px;
  &:hover {
    background-color: #f44336;
    color: #fff;
  }
}